<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie7" lang="en"> <![endif]-->
<!--[if lte IE 8 ]><html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="ie9" lang="en"> <!--<![endif]-->
<head>
	<!-- Basic Page Needs
  	================================================== -->
	<meta charset="utf-8">
	<title>Virtual Real Estate</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- CSS
  	================================================== -->
  <link rel="stylesheet" type="text/css" href="css/home-styles.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />
  <!-- Fonts
  ================================================== -->
  <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- Favicon
	================================================== -->
	<link rel="shortcut icon" href="favicon.html" type="image/x-icon">
  <!-- JavaScript
  ================================================== -->
	<script type="text/javascript" src="../ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>
<body>
	<div id="top">
		<div class="top clearfix">
			<div class="float-right"><a href="login.html" class="account">My account</a>&nbsp;|&nbsp;<a href="register.html" class="register">Register</a>&nbsp;|&nbsp;<a href="help.html" class="help">Help</a></div>
		</div>
	</div>
	<!-- Start HEADER
    ========================== -->
	<div id="header">
		<div class="logo-social clearfix">
			<a href="index.html" class="logo"><!-- --></a>
			<div class="social">
				<a href="#" class="twitter"></a>
				<a href="#" class="facebook"></a>
				<a href="#" class="digg"></a>
				<a href="#" class="vimeo"></a>
				<a href="#" class="youtube"></a>
				<a href="#" class="skype"></a>
			</div>
		</div>
		<!-- Start MAIN MENU
    	========================== -->
		<div class="main-menu">    
      <nav id="main-nav">
        <ul>
          <li class="home indicator"><div class="first"><!-- --></div><a href="#">Home</a> <p><a href="#">page</a></p>
            <ul class="submenu">
              <li><a href="index.html">Home page</a></li>
              <li><a href="index1.html">Home v2</a></li>
              <li><a href="index2.html" class="last">Home with full screen slider</a></li>
            </ul>
          </li>
          <li><a href="about-us.html">About</a> <p><a href="about-us.html">company</a></p></li>
          <li><a href="category-grid.html">Buying</a> <p><a href="category-grid.html">offers</a></p></li>
          <li><a href="category-list.html">Selling</a> <p><a href="category-list.html">offers</a></p></li>
          <li class="indicator"><a href="#">Renting</a> <p><a href="#">offers</a></p>
            <ul class="submenu">
              <li><a href="property-details.html" class="last">Property details</a></li>
            </ul>
          </li>
          <li class="indicator current"><a href="#">Blog</a> <p><a href="#">articles</a></p>
            <ul class="submenu">
              <li class="current"><a href="blog.html">Blog</a></li>
              <li><a href="blog-post.html" class="last">Blog post</a></li>
            </ul>
          </li>
          <li class="last"><a href="contact-us.html">Contact</a> <p><a href="contact-us.html">details</a></p></li>
        </ul>
      </nav>
    </div>
    <div class="breadcrumbs"><a href="index1.html">Home</a> <span>Blog</span></div>
	</div>
	<!-- #End HEADER -->
    <!-- Start CONTENT
    ========================== -->
    <div id="content">
      <h2><span>Blog</span></h2>
      <div class="blog clearfix">
        <div id="left-side" class="float-left">
          <div class="blog-post">
            <div class="blog-title clearfix"><a href="blog-post.html">180 Campbell Parade, Bondi Beach</a><p class="float-right">Posted by: <span>John Doe</span></p></div>
            <div class="blog-prew">
              <a href="blog-post.html"><img src="images/blog/1.jpg" alt="" title="" /></a>
            </div>
            <div class="blog-prew-shadow"><!-- --></div>
            <div class="blog-options clearfix">
              <div class="b-posted float-left">Posted on: <span>24.11.2012</span></div>
              <div class="b-category float-left">Category: <a href="#">Selling Apartments</a></div>
              <div class="b-comments float-left"><a href="#">62 comments</a></div>
              <div class="b-views float-left"><span>211 views</span></div>
            </div>
            <div class="blog-desc">
              Pellentesque non dolor urna. Praesent tempor nisl et enim sagittis egestas. Aenean a purus vel nisi aliquet ultricies vel ut nunc. Vivamus at erat ligula. Suspendisse bibendum tellus vitae ipsum malesuada euismod vel nec risus. Aliquam egestas sodales ornare. Pellentesque a lorem eget turpis venenatis tincidunt quis id agna.
            </div>
            <div class="blog-more clearfix">
              <div class="float-left"><a href="blog-post.html">View details</a></div>
            </div>
          </div>
          <div class="blog-post">
            <div class="blog-title clearfix"><a href="blog-post.html">OK Go at Left Coast Live</a><p class="float-right">Posted by: <span>John Doe</span></p></div>
            <div class="blog-prew">
              <iframe src="http://player.vimeo.com/video/16285298?title=0&amp;byline=0&amp;portrait=0" width="666" height="285"></iframe>
            </div>
            <div class="blog-prew-shadow"><!-- --></div>
            <div class="blog-options clearfix">
              <div class="b-posted float-left">Posted on: <span>23.11.2012</span></div>
              <div class="b-category float-left">Category: <a href="#">Photoshop</a></div>
              <div class="b-comments float-left"><a href="#">673 comments</a></div>
              <div class="b-views float-left"><span>2246 views</span></div>
            </div>
            <div class="blog-desc">
              Pellentesque non dolor urna. Praesent tempor nisl et enim sagittis egestas. Aenean a purus vel nisi aliquet ultricies vel ut nunc. Vivamus at erat ligula. Suspendisse bibendum tellus vitae ipsum malesuada euismod vel nec risus. Aliquam egestas sodales ornare. Pellentesque a lorem eget turpis venenatis tincidunt quis id agna.
            </div>
            <div class="blog-more clearfix">
              <div class="float-left"><a href="blog-post.html">View details</a></div>
            </div>
          </div>
          <div class="blog-post">
            <div class="blog-title clearfix"><a href="blog-post.html">At a mountain winery with the entire Adobe Photoshop staff</a><p class="float-right">Posted by: <span>John Doe</span></p></div>
            <div class="blog-prew">
              <a href="blog-post.html"><div class="plus"><!-- --></div><img src="images/blog/2.jpg" alt="" title="" /></a>
            </div>
            <div class="blog-prew-shadow"><!-- --></div>
            <div class="blog-options clearfix">
              <div class="b-posted float-left">Posted on: <span>24.11.2012</span></div>
              <div class="b-category float-left">Category: <a href="#">Selling Apartments</a></div>
              <div class="b-comments float-left"><a href="#">62 comments</a></div>
              <div class="b-views float-left"><span>211 views</span></div>
            </div>
            <div class="blog-desc">
              Pellentesque non dolor urna. Praesent tempor nisl et enim sagittis egestas. Aenean a purus vel nisi aliquet ultricies vel ut nunc. Vivamus at erat ligula. Suspendisse bibendum tellus vitae ipsum malesuada euismod vel nec risus. Aliquam egestas sodales ornare. Pellentesque a lorem eget turpis venenatis tincidunt quis id agna.
            </div>
            <div class="blog-more clearfix">
              <div class="float-left"><a href="blog-post.html">View details</a></div>
            </div>
          </div>
          <div class="bottom-navigation clearfix">
            <div class="paginate float-right clearfix">
              <a href="#" class="older">Older</a>
              <a href="#" class="prev"></a>
              <a href="#">1</a>
              <a href="#" class="active">2</a>
              <a href="#" class="points">...</a>
              <a href="#">14</a>
              <a href="#" class="next"></a>
              <a href="#" class="newest">Newest</a>
            </div>
          </div>
        </div>        
        <div id="right-side" class="float-left">
          <!-- Blog search -->
          <form action="#" enctype="multipart/form-data" method="post" class="search clearfix">
            <input type="text" name="keyword" value="Search in blog" class="search-input" />
            <input type="submit" name="submit" value="" class="submit-input" />
          </form>
          <!-- #End // Start blog categories -->
          <div class="blog-categories">
            <div class="b-title">Categories</div>
            <ul>
              <li><a href="#">House / Vila</a></li>
              <li><a href="#">Studio</a></li>
              <li><a href="#">1 room apartment</a></li>
              <li><a href="#">Apartments with 2 bedrooms</a></li>
              <li class="active"><a href="#">Apartments with 3 bedrooms</a></li>
              <li><a href="#">Apartments with 4 bedrooms</a></li>
              <li><a href="#">Apartments with 5+ bedrooms</a></li>
              <li><a href="#">Lands</a></li>
              <li><a href="#">Comercial spaces</a></li>
              <li><a href="#">Office spaces</a></li>
              <li><a href="#">Industrial spaces</a></li>
            </ul>
          </div>
          <!-- #End // Start popular tags -->
          <div class="popular-tags clearfix">
            <div class="b-title">Popular tags</div>
              <a href="#">design</a>
              <a href="#">icon</a>
              <a href="#">grid</a>
              <a href="#">clean</a>
              <a href="#">illustration</a>
              <a href="#">typography</a>
              <a href="#">pure estate</a>
              <a href="#">high resolution</a>
              <a href="#">iphone</a>
              <a href="#">interface</a>
              <a href="#">joomla theme</a>
              <a href="#">portfolio</a>
              <a href="#">designer</a>
          </div>
          <!-- #End // Start hot property -->
          <div class="hot-property clearfix">
            <div class="b-title">Hot property</div>
            <div class="jcarousel-date-content float-left">
              <div class="l-off"><a href="#"><!-- --></a></div>
              <div class="l-image">
                <img src="images/property-images/2.jpg" alt="" title="" />
                <div class="l-image-hover">
                  <a href="#" class="l-lupa"><!-- --></a>
                  <a href="#" class="l-link"><!-- --></a>
                </div>
              </div>
              <div class="l-shadow"><!-- --></div>
              <div class="l-title"><a href="property-details.html">356 GEORGE ST, Waterloo, NSW 2017</a></div>
              <div class="l-features clearfix">
                <div class="l-bedrooms">4 Bedrooms</div>
                <div class="l-area">2416 m<sup>2</sup></div>
                <div class="l-baths">2 Baths</div>
                <div class="l-type">For Rent</div>
              </div>
              <div class="l-details clearfix">
                <div class="l-price">$1,499</div>
                <div class="l-view"><a href="property-details.html">View details</a></div>
              </div>
            </div>
          </div>
          <!-- #End // Archive -->
          <div class="archive">
            <div class="b-title">Archive</div>
            <ul class="clearfix">
              <li><a href="#">Octomber<p class="float-right">(43)</p></a></li>
              <li><a href="#">September<p class="float-right">(91)</p></a></li>
              <li><a href="#">August<p class="float-right">(6)</p></a></li>
              <li><a href="#">July<p class="float-right">(24)</p></a></li>
              <li class="active"><a href="#">June<p class="float-right">(167)</p></a></li>
              <li><a href="#">May<p class="float-right">(19)</p></a></li>
              <li><a href="#">April<p class="float-right">(65)</p></a></li>
            </ul>
          </div>
          <!-- #End // Stay informed -->
          <div class="b-stay-informed">
            <div class="b-title">Stay informed</div>
            <div class="content">
              <p>Don't worry, We don't spam ever!</p>
              <form name="newsletter" enctype="multipart/form-data" class="clearfix">
                <input type="text" name="email" class="newsletter-input" value="Enter your email here">
                <input type="submit" name="submit" value="" class="newsletter-submit" />
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Start SOCIAL FOOTER
      ========================================== -->
      <div class="social-footer clearfix">
        <div class="col float-left">
          <h2><span>Recent blog posts</span></h2>
          <div class="content">
            <div class="post clearfix">
              <div class="image float-left"><a href="#"><img src="images/posts/1.jpg" alt="" title="" /></a></div>
              <div class="post-det float-left">
                <a href="#"><span>Lorem ipsum dolor</span> consectetur adipiscing elit. Etiam</a>
                <p>November 7, 2012</p>
              </div>
            </div>
            <div class="post last clearfix">
              <div class="image float-left"><a href="#"><img src="images/posts/2.jpg" alt="" title="" /></a></div>
              <div class="post-det float-left">
                <a href="#"><span>Fermentum donec</span> ut rhoncus consectetur, diam dolor lacinia eros.</a>
                <p>November 4, 2012</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col float-left">
          <h2><span class="facebook">Facebook</span></h2>
          <div class="f-content">
            <div class="post">
              <div class="post-det">
                <a href="#"><span>Lorem ipsum dolor sit amet</span> consectetur adipiscing elit. Etiam egestas nulla sit amet.</a>
                <p>November 8, 2012</p>
              </div>
            </div>
            <div class="post last">
              <div class="post-det">
                <a href="#"><span>Fermentum donec gravida</span> nibh ut rhoncus consectetur, diam dolor lacinia eros.</a>
                <p>November 2, 2012</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col float-left">
          <h2><span class="twitter">Twitter</span></h2>
          <div class="t-content">
            <div class="post">
              <div class="post-det">
                <a href="#"><span>Lorem ipsum dolor sit</span> amet, consectetur adipiscing elit. Etiam egestas</a>
                <p>November 11, 2012</p>
              </div>
            </div>
            <div class="post last">
              <div class="post-det">
                <a href="#"><span>Fermentum donec</span> gravida, nibh ut rhoncus consectetur, diam dolor lacinia eros egestas.</a>
                <p>November 5, 2012</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col float-left">
          <h2><span class="tv">As seen on tv</span></h2>
          <div class="t-content">
            <iframe src="http://player.vimeo.com/video/16285298?title=0&amp;byline=0&amp;portrait=0" width="200" height="150" style="border: 3px solid #fff; -webkit-border-radius: 2px; -moz-border-radius: @2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px;"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Start FOOTER
    ========================================== -->
    <div id="footer">
      <div class="footer clearfix">
        <div class="address float-left">Your Company, 1850 Belgrad, Ulica Zarka Zrenjanin, 49680, Serbia</div>
        <div class="contact float-right">Call us at: 121-333-6299 or just e-mail us at: <a href="mailto:info@eduture.com">info@eduture.com</a></div>
      </div>
    </div>
    <!-- Start COPYRIGHT
    ========================================== -->
    <div id="copyright" class="clearfix">
      <div class="copyright float-left">© 2013 <span>Virtual Real Estate</span>. All rights reserved | Designed by <a href="http://www.eduture.com/" target="_blank">Eduture Technologies Limited</a></div>
      <div class="footer-menu float-right">
        <a href="index.html">Home</a> &nbsp; / &nbsp; <a href="about-us.html">About us</a> &nbsp; / &nbsp; <a href="category-grid.html">Buying</a> &nbsp; / &nbsp; <a href="category-list.html">Selling</a> &nbsp; / &nbsp; <a href="property-details.html">Renting</a> &nbsp; / &nbsp; <a href="blog.html">Blog</a> &nbsp; / &nbsp; <a href="testimonials.html">Testimonials</a> &nbsp; / &nbsp; <a href="contact-us.html">Contact</a>
      </div>
    </div>
</body>
</html>