<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie7" lang="en"> <![endif]-->
<!--[if lte IE 8 ]><html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="ie9" lang="en"> <!--<![endif]-->
<head>
	<!-- Basic Page Needs
  	================================================== -->
	<meta charset="utf-8">
	<title>Virtual Real Estate</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- CSS
  	================================================== -->
  <link rel="stylesheet" type="text/css" href="css/home-styles.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" media="screen" />
  <!-- Fonts
  ================================================== -->
  <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- Favicon
	================================================== -->
	<link rel="shortcut icon" href="favicon.html" type="image/x-icon">
  <!-- JavaScript
  ================================================== -->
	<script type="text/javascript" src="../ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>
<body>
	<div id="top">
		<div class="top clearfix">
			<div class="float-right"><a href="login.html" class="account">My account</a>&nbsp;|&nbsp;<a href="register.html" class="register">Register</a>&nbsp;|&nbsp;<a href="help.html" class="help">Help</a></div>
		</div>
	</div>
	<!-- Start HEADER
    ========================== -->
	<div id="header">
		<div class="logo-social clearfix">
			<a href="index.html" class="logo"><!-- --></a>
			<div class="social">
				<a href="#" class="twitter"></a>
				<a href="#" class="facebook"></a>
				<a href="#" class="digg"></a>
				<a href="#" class="vimeo"></a>
				<a href="#" class="youtube"></a>
				<a href="#" class="skype"></a>
			</div>
		</div>
		<!-- Start MAIN MENU
    	========================== -->
		<div class="main-menu">    
      <nav id="main-nav">
        <ul>
          <li class="home indicator"><div class="first"><!-- --></div><a href="#">Home</a> <p><a href="#">page</a></p>
            <ul class="submenu">
              <li><a href="index.html">Home page</a></li>
              <li><a href="index1.html">Home v2</a></li>
              <li><a href="index2.html" class="last">Home with full screen slider</a></li>
            </ul>
          </li>
          <li><a href="about-us.html">About</a> <p><a href="about-us.html">company</a></p></li>
          <li><a href="category-grid.html">Buying</a> <p><a href="category-grid.html">offers</a></p></li>
          <li><a href="category-list.html">Selling</a> <p><a href="category-list.html">offers</a></p></li>
          <li class="indicator"><a href="#">Renting</a> <p><a href="#">offers</a></p>
            <ul class="submenu">
              <li><a href="property-details.html" class="last">Property details</a></li>
            </ul>
          </li>
          <li class="indicator"><a href="#">Blog</a> <p><a href="#">articles</a></p>
            <ul class="submenu">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog-post.html" class="last">Blog post</a></li>
            </ul>
          </li>
          <li class="last current"><a href="contact-us.html">Contact</a> <p><a href="contact-us.html">details</a></p></li>
        </ul>
      </nav>
    </div>
    <!-- <div class="breadcrumbs"><a href="index1.html">Home</a> <span>Contact us</span></div> -->
	</div>
	<!-- #End HEADER -->
    <!-- Start Contact map -->
    <div class="contact-map">
    <iframe height="570" style="width:100%;" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?hl=en&amp;ie=UTF8&amp;t=m&amp;ll=44.795724,20.485039&amp;spn=0.029723,0.112782&amp;z=13&amp;output=embed"></iframe>
    </div>
    <div class="clear"><!-- --></div>
    <!-- #End Contact map -->
    <!-- Start CONTENT
    ========================== -->
    <div id="content">
      <div class="breadcrumbs"><a href="index1.html">Home</a> <span>Contact us</span></div>
      <h2><span>Contact us</span></h2>
      <div class="contact clearfix">
        <div class="contact-left-side">
          <div class="contact-left-title">We are glad to talk with you, so feel free to get in touch</div>
          <form action="#" method="post" enctype="multipart/form-data" class="contact-form clearfix">
                <div class="crow">
                    <label>Name <span>(required)</span></label>
                    <input type="text" name="name" class="input-text" value="" />
                </div>
                <div class="crow">
                    <label>Email <span>(required)</span></label>
                    <input type="text" name="name" class="input-text" value="" />
                </div>
                <div class="crow-last">
                    <label>Website <span>(required)</span></label>
                    <input type="text" name="name" class="input-text" value="" />
                </div>
                <div class="crow-text">
                    <label>Your Message <span>(required)</span></label>
                    <textarea class="input-textarea"></textarea>
                </div>
                <div class="crow-sub">
                    <input type="submit" name="submit" class="submit" value="Send Email" />
                </div>
          </form>
        </div>
        <div class="contact-right-side">
          <div class="contact-right-title">Contact information</div>
            <div class="contact-right-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit, elit sed lobortis euismod, lectus tortor varius ante, at ornare lacus orci quis dolor. Nullam enim elit, scelerisque id semper eu, pellentesque at purus. Mauris dignissim molestie erat sed ornare. In hac habitasse platea dictumst</div>
            <div class="contact-address">Alea 12345. Belgrade, Serbia</div>
            <div class="contact-email">contact@companyname.com</div>
            <div class="contact-number">(123) 456-7890 | (456) 789-0123</div>
        </div>
      </div>
      <!-- Start SOCIAL FOOTER
      ========================================== -->
      <div class="social-footer clearfix">
        <div class="col float-left">
          <h2><span>Recent blog posts</span></h2>
          <div class="content">
            <div class="post clearfix">
              <div class="image float-left"><a href="#"><img src="images/posts/1.jpg" alt="" title="" /></a></div>
              <div class="post-det float-left">
                <a href="#"><span>Lorem ipsum dolor</span> consectetur adipiscing elit. Etiam</a>
                <p>November 7, 2012</p>
              </div>
            </div>
            <div class="post last clearfix">
              <div class="image float-left"><a href="#"><img src="images/posts/2.jpg" alt="" title="" /></a></div>
              <div class="post-det float-left">
                <a href="#"><span>Fermentum donec</span> ut rhoncus consectetur, diam dolor lacinia eros.</a>
                <p>November 4, 2012</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col float-left">
          <h2><span class="facebook">Facebook</span></h2>
          <div class="f-content">
            <div class="post">
              <div class="post-det">
                <a href="#"><span>Lorem ipsum dolor sit amet</span> consectetur adipiscing elit. Etiam egestas nulla sit amet.</a>
                <p>November 8, 2012</p>
              </div>
            </div>
            <div class="post last">
              <div class="post-det">
                <a href="#"><span>Fermentum donec gravida</span> nibh ut rhoncus consectetur, diam dolor lacinia eros.</a>
                <p>November 2, 2012</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col float-left">
          <h2><span class="twitter">Twitter</span></h2>
          <div class="t-content">
            <div class="post">
              <div class="post-det">
                <a href="#"><span>Lorem ipsum dolor sit</span> amet, consectetur adipiscing elit. Etiam egestas</a>
                <p>November 11, 2012</p>
              </div>
            </div>
            <div class="post last">
              <div class="post-det">
                <a href="#"><span>Fermentum donec</span> gravida, nibh ut rhoncus consectetur, diam dolor lacinia eros egestas.</a>
                <p>November 5, 2012</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col float-left">
          <h2><span class="tv">As seen on tv</span></h2>
          <div class="t-content">
            <iframe src="http://player.vimeo.com/video/16285298?title=0&amp;byline=0&amp;portrait=0" width="200" height="150" style="border: 3px solid #fff; -webkit-border-radius: 2px; -moz-border-radius: @2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px;"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Start FOOTER
    ========================================== -->
    <<div id="footer">
      <div class="footer clearfix">
        <div class="address float-left">Your Company, 1850 Belgrad, Ulica Zarka Zrenjanin, 49680, Serbia</div>
        <div class="contact float-right">Call us at: 121-333-6299 or just e-mail us at: <a href="mailto:info@eduture.com">info@eduture.com</a></div>
      </div>
    </div>
    <!-- Start COPYRIGHT
    ========================================== -->
    <div id="copyright" class="clearfix">
      <div class="copyright float-left">© 2013 <span>Virtual Real Estate</span>. All rights reserved | Designed by <a href="http://www.eduture.com/" target="_blank">Eduture Technologies Limited</a></div>
      <div class="footer-menu float-right">
        <a href="index.html">Home</a> &nbsp; / &nbsp; <a href="about-us.html">About us</a> &nbsp; / &nbsp; <a href="category-grid.html">Buying</a> &nbsp; / &nbsp; <a href="category-list.html">Selling</a> &nbsp; / &nbsp; <a href="property-details.html">Renting</a> &nbsp; / &nbsp; <a href="blog.html">Blog</a> &nbsp; / &nbsp; <a href="testimonials.html">Testimonials</a> &nbsp; / &nbsp; <a href="contact-us.html">Contact</a>
      </div>
    </div>
</body>
</html>