<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie7" lang="en"> <![endif]-->
<!--[if lte IE 8 ]><html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="ie9" lang="en"> <!--<![endif]-->
<head>
	<!-- Basic Page Needs
  	================================================== -->
	<meta charset="utf-8">
	<title>Virtual Real Estate</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- CSS
  	================================================== -->
	<link rel="stylesheet" type="text/css" href="css/home-styles.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/jniceit.css" media="screen" />
	<noscript>
		<link rel="stylesheet" type="text/css" href="css/nojs.css" />
	</noscript>
    <!-- Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Favicon
	================================================== -->
	<link rel="shortcut icon" href="favicon.html" type="image/x-icon">
    <!-- JavaScript
    ================================================== -->
	<script type="text/javascript" src="../ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	<script type="text/javascript" src="js/jniceit.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('form.NiceIt').NiceIt();
		});
	</script>
	<!-- Price Slider JS
    ================================================== -->
    <script type="text/javascript" src="js/jshashtable-2.1_src.js"></script>
	<script type="text/javascript" src="js/jquery.numberformatter-1.2.3.js"></script>
	<script type="text/javascript" src="js/tmpl.js"></script>
	<script type="text/javascript" src="js/jquery.dependClass-0.1.js"></script>
	<script type="text/javascript" src="js/draggable-0.1.js"></script>
	<script type="text/javascript" src="js/jquery.slider.js"></script>
	<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
  <script type="text/javascript" src="js/ddaccordion.js"></script>
  <script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
  <script type="text/javascript" src="js/jquery.elastislide.js"></script>
  <script type="text/javascript" src="js/gallery.js"></script>
  <script type="text/javascript">
    ddaccordion.init({
      headerclass: "expandable",
      contentclass: "categoryitems",
      revealtype: "click",
      mouseoverdelay: 200,
      collapseprev: true,
      defaultexpanded: [0],
      onemustopen: false,
      animatedefault: false,
      persiststate: true,
      toggleclass: ["", "openheader"],
      togglehtml: ["prefix", "", ""],
      animatespeed: "fast",
      oninit:function(headers, expandedindices){ 
      },
      onopenclose:function(header, index, state, isuseractivated){
      }
    })
		jQuery(document).ready(function() {
			jQuery('#mycarousels').jcarousel({
				wrap: 'circular'
			});
		});
  </script>
  <noscript>
      <style>
        .es-carousel ul{
          display:block;
        }
      </style>
    </noscript>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">  
      <div class="rg-image-wrapper">
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
      </div>
    </script>
</head>
<body>
	<div id="top">
		<div class="top clearfix">
			<div class="float-right"><a href="login.html" class="account">My account</a>&nbsp;|&nbsp;<a href="register.html" class="register">Register</a>&nbsp;|&nbsp;<a href="help.html" class="help">Help</a></div>
		</div>
	</div>
	<!-- Start HEADER
    ========================== -->
	<div id="header">
		<div class="logo-social clearfix">
			<a href="index.html" class="logo"><!-- --></a>
			<div class="social">
				<a href="#" class="twitter"></a>
				<a href="#" class="facebook"></a>
				<a href="#" class="digg"></a>
				<a href="#" class="vimeo"></a>
				<a href="#" class="youtube"></a>
				<a href="#" class="skype"></a>
			</div>
		</div>
		<!-- Start MAIN MENU
    	========================== -->
		<div class="main-menu">    
      <nav id="main-nav">
        <ul>
          <li class="home indicator"><div class="first"><!-- --></div><a href="#">Home</a> <p><a href="#">page</a></p>
            <ul class="submenu">
              <li><a href="index.html">Home page</a></li>
              <li><a href="index1.html">Home v2</a></li>
              <li><a href="index2.html" class="last">Home with full screen slider</a></li>
            </ul>
          </li>
          <li><a href="about-us.html">About</a> <p><a href="about-us.html">company</a></p></li>
          <li><a href="category-grid.html">Buying</a> <p><a href="category-grid.html">offers</a></p></li>
          <li><a href="category-list.html">Selling</a> <p><a href="category-list.html">offers</a></p></li>
          <li class="indicator current"><a href="#">Renting</a> <p><a href="#">offers</a></p>
            <ul class="submenu">
              <li class="current"><a href="property-details.html" class="last">Property details</a></li>
            </ul>
          </li>
          <li class="indicator"><a href="#">Blog</a> <p><a href="#">articles</a></p>
            <ul class="submenu">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog-post.html" class="last">Blog post</a></li>
            </ul>
          </li>
          <li class="last"><a href="contact-us.html">Contact</a> <p><a href="contact-us.html">details</a></p></li>
        </ul>
      </nav>
    </div>
    <div class="breadcrumbs"><a href="index1.html">Home</a> <a href="#">Renting</a> <a href="#">Apartments with 3 bedrooms</a> <span>180 Campbell parade, bondi beach</span></div>
	</div>
	<!-- #End HEADER -->
    <!-- Start CONTENT
    ========================== -->
    <div id="content">
      <h2><span>180 Campbell Parade, Bondi beach</span></h2>
      <div class="clearfix">
        <div id="left-side" class="float-left">
          <ul class="cat-menu">
            <li class="categoriess">Categories</li>
            <li><a href="#">House / Vila</a></li>
            <li><a href="#">Studio</a></li>
            <li><a href="#">1 room apartment</a></li>
            <li><a href="#">Apartments with 2 bedrooms</a></li>
            <li class="active"><a href="#">Apartments with 3 bedrooms</a></li>
            <li><a href="#">Apartments with 4 bedrooms</a></li>
            <li><a href="#">Apartments with 5+ bedrooms</a></li>
            <li><a href="#">Lands</a></li>
            <li><a href="#">Comercial spaces</a></li>
            <li><a href="#">Office spaces</a></li>
            <li><a href="#">Industrial spaces</a></li>
          </ul>
          <div class="cat-shadow"><!-- --></div>
          <div class="search">
            <form action="#" enctype="multipart/form-data" method="post" class="fm NiceIt srch">
              <div class="s-tit clearfix">
                <h2>Filter</h2>
                <input type="reset" name="reset" value="Reset filter" class="search-reset" />
              </div>
              <h2>Property location:</h2>
              <div class="selectbox clearfix">
                <select name="city">
                    <option>Select property city</option>
                    <option value="">Beograd</option>
                    <option value="">Novi Sad</option>
                    <option value="">Krusevac</option>
                    <option value="">Zrenjanin</option>
                    <option value="">Backa Palanka</option>
                    <option value="">Pancevo</option>
                  </select>
              </div>
              <h2>Property type:</h2>
              <div class="selectbox clearfix">
                <select name="type">
                    <option>Select property type</option>
                    <option value="">House / Vila</option>
                    <option value="">Studio</option>
                    <option value="">1 room apartment</option>
                    <option value="">Apartments</option>
                    <option value="">Lands</option>
                    <option value="">Comercial Spaces</option>
                    <option value="">Office Spaces</option>
                    <option value="">Industrial Spaces</option>
                  </select>
                  <div class="s-select">
                    <span>Area (Sq.Ft.)</span>
                    <select name="area">
                      <option>Select</option>
                      <option value="">&lt; 1000 m2</option>
                      <option value="">&lt; 1500 m2</option>
                      <option value="">&lt; 2000 m2</option>
                      <option value="">&lt; 2500 m2</option>
                      <option value="">&gt; 2500m2</option>
                    </select>
                  </div>
                  <div class="s-select last">
                    <span>Building year</span>
                    <select name="year">
                      <option>Select</option>
                      <option value="">2008</option>
                      <option value="">2009</option>
                      <option value="">2010</option>
                      <option value="">2011</option>
                      <option value="">2012</option>
                    </select>
                  </div>
                  <div class="s-select">
                    <span>Bedrooms</span>
                    <select name="bedrooms">
                      <option>Select</option>
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                      <option value="">+5</option>
                    </select>
                  </div>
                  <div class="s-select last">
                    <span>Baths</span>
                    <select name="baths">
                      <option>Select</option>
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">+4</option>
                    </select>
                  </div>
              </div>
              <h2>Price From - To:</h2>
              <div class="layout-slider clearfix" style="width: 100%">
                  <span><input id="Slider1" name="price" value="30000.5;60000" /></span>
              </div>
              <div class="accordion">
                <div class="tab-content">
                    <div class="arrowlistmenu">
                        <h3 class="menuheader expandable">More search options</h3>
                        <div class="categoryitems">
                          <h2>Keyword search:</h2>
                          <div class="selectbox clearfix">
                            <input type="text" name="keyword" value="Here write your search keywords" class="search-input" style="width:94% !important;" />
                          </div>
                          <h2>Year built:</h2>
                          <div class="selectbox clearfix">
                            <div class="s-select">
                              <input type="text" name="keyword" value="2007" class="search-input" style="width:84% !important;" />
                            </div>
                            <div class="s-select last">
                              <input type="text" name="keyword" value="2012" class="search-input" style="width:84% !important;" />
                            </div>
                          </div>
                          <h2>Show only:</h2>
                          <div class="checkbox first clearfix">
                            <input type="checkbox" name="open" value="All Open Propeties" /><label>All Open Propeties</label>
                          </div>
                          <div class="checkbox clearfix">
                            <input type="checkbox" name="todays" value="Today’s Open Properties" /><label>Today’s Open Properties</label>
                          </div>
                          <div class="checkbox clearfix">
                            <input type="checkbox" name="weekend" value="Open Propeties this weekend" /><label>Open Propeties this weekend</label>
                          </div>
                          <div class="checkbox clearfix">
                            <input type="checkbox" name="new" value="New properties in past 7 days" /><label>New properties in past 7 days</label>
                          </div>
                          <div class="checkbox last clearfix">
                            <input type="checkbox" name="reduced" value="Price reduced" /><label>Price reduced</label>
                          </div>
                          <div class="search-button clearfix">
                            <input type="submit" name="search" value="Search property" class="search-property acc" />
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <script type="text/javascript">
                jQuery("#Slider1").slider({ from: 0, to: 100000, step: 500, smooth: true, round: 0, dimension: "&nbsp;$", skin: "round_plastic" });
              </script>
            </form>
          </div>
          <div class="search-shadow"><!-- --></div>
        </div>
        <div id="right-side" class="float-left">
          <div class="p-property clearfix">
            <div class="p-imgs float-left">
              <div id="rg-gallery" class="rg-gallery">
                <div class="rg-thumbs">
                  <div class="large-line">Slide to view all photos (17)</div>
                  <div class="es-carousel-wrapper">
                    <div class="es-carousel">
                      <ul>
                        <li><a href="#"><img src="images/thumbs/1.jpg" data-large="images/property-images/01.jpg" alt="image01" /></a></li>
                        <li><a href="#"><img src="images/thumbs/2.jpg" data-large="images/property-images/02.jpg" alt="image02" /></a></li>
                        <li><a href="#"><img src="images/thumbs/3.jpg" data-large="images/property-images/03.jpg" alt="image03" /></a></li>
                        <li><a href="#"><img src="images/thumbs/4.jpg" data-large="images/property-images/04.jpg" alt="image04" /></a></li>
                        <li><a href="#"><img src="images/thumbs/5.jpg" data-large="images/property-images/03.jpg" alt="image05"/></a></li>
                        <li><a href="#"><img src="images/thumbs/6.jpg" data-large="images/property-images/06.jpg" alt="image06" /></a></li>
                        <li><a href="#"><img src="images/thumbs/7.jpg" data-large="images/property-images/07.jpg" alt="image07" /></a></li>
                        <li><a href="#"><img src="images/thumbs/8.jpg" data-large="images/property-images/08.jpg" alt="image08" /></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-det float-left">
              <h3>1,045,500</h3>
              <div class="det-det clearfix">
                <div class="left float-left">Est. payment:</div><div class="right float-left">75.216/mo</div>
                <div class="left float-left">Your credit:</div><div class="right float-left">0 credits</div>
                <div class="left float-left">Bedrooms:</div><div class="right float-left">5</div>
                <div class="left float-left">Bathrooms:</div><div class="right float-left">3</div>
                <div class="left float-left">Property type:</div><div class="right float-left">Townhome</div>
                <div class="left float-left">Size:</div><div class="right float-left">7980 sqft</div>
                <div class="left float-left">Lot:</div><div class="right float-left">Ask agent</div>
                <div class="left float-left">Year built:</div><div class="right float-left">2010</div>
                <div class="left float-left">Location:</div><div class="right float-left">Los Angeles</div>
                <div class="left float-left">Neighborhood:</div><div class="right float-left">Upper East Side</div>
                <div class="left ask float-left">Added on:</div><div class="right ask float-left">03.11.2012</div>
                <div class="left line float-left">Views:</div><div class="right line float-left">125</div>
                <div class="left float-left">Listing angent:</div><div class="right float-left">John W. Joe</div>
                <div class="left float-left">Broker:</div><div class="right float-left"><span>Pure Real Estate</span></div>
              </div>
            </div>
          </div>
          <div class="p-property clearfix">
            <h3>Description</h3>
            <div class="property-description">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
            </div>
            <h3>Listing Info for: 180 CAMPBELL PARADE, BONDI BEACH</h3>
            <div class="listing-info clearfix">
              <p>Most recent information provided by John W. Joe on 04.11.2012 09:50 PM:</p>
              <ul>
                <li>Price: $1.045.500</li>
                <li>Status: For sale</li>
                <li>5 Bedrooms</li>
                <li>6 Bathrooms</li>
              </ul>
              <ul>
                <li>Rooms: 15</li>
                <li>Townhome</li>
                <li>Deck</li>
                <li>Private balcony</li>
              </ul>
              <ul>
                <li>Fireplace</li>
                <li>2 Balcony</li>
                <li>Dryer</li>
                <li>Washer</li>
              </ul>
            </div>
            <h3>Property on Map</h3>
            <div class="property-map">
              <iframe width="684" height="244" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?hl=en&amp;ie=UTF8&amp;t=m&amp;ll=44.795724,20.485039&amp;spn=0.029723,0.112782&amp;z=13&amp;output=embed"></iframe>
            </div>
            <h3>Contact info</h3>
            <form action="#" enctype="multipart/form-data" method="post" class="contact-agent clearfix">
              <div class="form-left float-left">
                <input type="text" name="name" value="Your name" class="agent-input" />
                <input type="text" name="email" value="Email address" class="agent-input" />
                <input type="text" name="phone" value="Phone number" class="agent-input" />
              </div>
              <div class="form-right float-left">
                <textarea class="agent-textarea"></textarea>
              </div>
              <div class="float-left">
                <p>By sending, you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
              </div>
              <div class="float-right">
                <input type="submit" name="contact" value="Contact agent" class="send-to-agent" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="latest-transactions">
        <div class="latest-title"><p>You might also be interested in...</p></div>
          <div class="carousels clearfix">
            <ul id="mycarousels" class="jcarousel-skin-tangos">
              <li>
                <div class="jcarousel-date-content clearfix">
                  <div class="l-off"><a href="#"><!-- --></a></div>
                  <div class="l-image">
                    <img src="images/property-images/1.jpg" alt="" title="" />
                    <div class="l-image-hover">
                      <a href="#" class="l-lupa"><!-- --></a>
                      <a href="#" class="l-link"><!-- --></a>
                    </div>
                  </div>
                  <div class="l-shadow"><!-- --></div>
                  <div class="l-title"><a href="property-details.html">180 Campbell Parade, Bondi Beach</a></div>
                  <div class="l-features clearfix">
                    <div class="l-bedrooms">9 Bedrooms</div>
                    <div class="l-area">2416 m<sup>2</sup></div>
                    <div class="l-baths">4 Baths</div>
                    <div class="l-type">For Sale</div>
                  </div>
                  <div class="l-details clearfix">
                    <div class="l-price">$1,045,500</div>
                    <div class="l-view"><a href="property-details.html">View details</a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="jcarousel-date-content clearfix">
                  <div class="l-image">
                    <img src="images/property-images/2.jpg" alt="" title="" />
                    <div class="l-image-hover">
                      <a href="#" class="l-lupa"><!-- --></a>
                      <a href="#" class="l-link"><!-- --></a>
                    </div>
                  </div>
                  <div class="l-shadow"><!-- --></div>
                  <div class="l-title"><a href="property-details.html">356 GEORGE ST, Waterloo, NSW 2017</a></div>
                  <div class="l-features clearfix">
                    <div class="l-bedrooms">4 Bedrooms</div>
                    <div class="l-area">2416 m<sup>2</sup></div>
                    <div class="l-baths">2 Baths</div>
                    <div class="l-type">For Rent</div>
                  </div>
                  <div class="l-details clearfix">
                    <div class="l-price">$1,499</div>
                    <div class="l-view"><a href="property-details.html">View details</a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="jcarousel-date-content clearfix">
                  <div class="l-new"><a href="#"><!-- --></a></div>
                  <div class="l-image">
                    <img src="images/property-images/3.jpg" alt="" title="" />
                    <div class="l-image-hover">
                      <a href="#" class="l-lupa"><!-- --></a>
                      <a href="#" class="l-link"><!-- --></a>
                    </div>
                  </div>
                  <div class="l-shadow"><!-- --></div>
                  <div class="l-title"><a href="property-details.html">Brodie Avenue, Little Bay</a></div>
                  <div class="l-features clearfix">
                    <div class="l-bedrooms">3 Bedrooms</div>
                    <div class="l-area">2416 m<sup>2</sup></div>
                    <div class="l-baths">1 Baths</div>
                    <div class="l-type">For Sale</div>
                  </div>
                  <div class="l-details clearfix">
                    <div class="l-price">$340,999</div>
                    <div class="l-view"><a href="property-details.html">View details</a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="jcarousel-date-content clearfix">
                  <div class="l-image">
                    <img src="images/property-images/2.jpg" alt="" title="" />
                    <div class="l-image-hover">
                      <a href="#" class="l-lupa"><!-- --></a>
                      <a href="#" class="l-link"><!-- --></a>
                    </div>
                  </div>
                  <div class="l-shadow"><!-- --></div>
                  <div class="l-title"><a href="property-details.html">180 Campbell Parade, Bondi Beach</a></div>
                  <div class="l-features clearfix">
                    <div class="l-bedrooms">9 Bedrooms</div>
                    <div class="l-area">2416 m<sup>2</sup></div>
                    <div class="l-baths">4 Baths</div>
                    <div class="l-type">For Sale</div>
                  </div>
                  <div class="l-details clearfix">
                    <div class="l-price">$1,045,500</div>
                    <div class="l-view"><a href="property-details.html">View details</a></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
      </div>
      <!-- Start SOCIAL FOOTER
      ========================================== -->
      <div class="social-footer clearfix">
        <div class="col float-left">
          <h2><span>Recent blog posts</span></h2>
          <div class="content">
            <div class="post clearfix">
              <div class="image float-left"><a href="#"><img src="images/posts/1.jpg" alt="" title="" /></a></div>
              <div class="post-det float-left">
                <a href="#"><span>Lorem ipsum dolor</span> consectetur adipiscing elit. Etiam</a>
                <p>November 7, 2012</p>
              </div>
            </div>
            <div class="post last clearfix">
              <div class="image float-left"><a href="#"><img src="images/posts/2.jpg" alt="" title="" /></a></div>
              <div class="post-det float-left">
                <a href="#"><span>Fermentum donec</span> ut rhoncus consectetur, diam dolor lacinia eros.</a>
                <p>November 4, 2012</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col float-left">
          <h2><span class="facebook">Facebook</span></h2>
          <div class="f-content">
            <div class="post">
              <div class="post-det">
                <a href="#"><span>Lorem ipsum dolor sit amet</span> consectetur adipiscing elit. Etiam egestas nulla sit amet.</a>
                <p>November 8, 2012</p>
              </div>
            </div>
            <div class="post last">
              <div class="post-det">
                <a href="#"><span>Fermentum donec gravida</span> nibh ut rhoncus consectetur, diam dolor lacinia eros.</a>
                <p>November 2, 2012</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col float-left">
          <h2><span class="twitter">Twitter</span></h2>
          <div class="t-content">
            <div class="post">
              <div class="post-det">
                <a href="#"><span>Lorem ipsum dolor sit</span> amet, consectetur adipiscing elit. Etiam egestas</a>
                <p>November 11, 2012</p>
              </div>
            </div>
            <div class="post last">
              <div class="post-det">
                <a href="#"><span>Fermentum donec</span> gravida, nibh ut rhoncus consectetur, diam dolor lacinia eros egestas.</a>
                <p>November 5, 2012</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col float-left">
          <h2><span class="tv">As seen on tv</span></h2>
          <div class="t-content">
            <iframe src="http://player.vimeo.com/video/16285298?title=0&amp;byline=0&amp;portrait=0" width="200" height="150" style="border: 3px solid #fff; -webkit-border-radius: 2px; -moz-border-radius: @2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px;"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Start FOOTER
    ========================================== -->
    <div id="footer">
      <div class="footer clearfix">
        <div class="address float-left">Your Company, 1850 Belgrad, Ulica Zarka Zrenjanin, 49680, Serbia</div>
        <div class="contact float-right">Call us at: 121-333-6299 or just e-mail us at: <a href="mailto:info@eduture.com">info@eduture.com</a></div>
      </div>
    </div>
    <!-- Start COPYRIGHT
    ========================================== -->
    <div id="copyright" class="clearfix">
      <div class="copyright float-left">© 2013 <span>Virtual Real Estate</span>. All rights reserved | Designed by <a href="http://www.eduture.com/" target="_blank">Eduture Technologies Limited</a></div>
      <div class="footer-menu float-right">
        <a href="index.html">Home</a> &nbsp; / &nbsp; <a href="about-us.html">About us</a> &nbsp; / &nbsp; <a href="category-grid.html">Buying</a> &nbsp; / &nbsp; <a href="category-list.html">Selling</a> &nbsp; / &nbsp; <a href="property-details.html">Renting</a> &nbsp; / &nbsp; <a href="blog.html">Blog</a> &nbsp; / &nbsp; <a href="testimonials.html">Testimonials</a> &nbsp; / &nbsp; <a href="contact-us.html">Contact</a>
      </div>
    </div>
</body>
</html>